<header>
  <button class="btn-home" (click)="home()">home</button>

</header>
<div class="row">
  <div class="col-6">
    <div class="card mt-50 mb-50">
      <div class="nav">
        <ul class="mx-auto">
          <li class="active">Payment Method</li>
        </ul>
      </div>
      <form>
        <div class="row-1">
         <span id="card-header">Add new card:</span> <button class="btn d-flex btn-margin" (click)="addcard()">add card</button>
        </div>

            <div class="row-1">
             <span id="card-header">Add Gift Card : </span><input type="text" placeholder="1234-4321" class="bor">  <button  class="btn d-flex  btn-margin" >add</button>
            </div>

      <div class="row-1" ><div class="col-8"><span id="card-header"> Wallet : </span> </div> <div class="col-12"><button class="btn d-flex  btn-margin">click</button></div></div>
      </form>
    </div>
  </div>
</div>



