<header>
  <button class="btn-home" (click)="home()">home</button>

</header>
<div class="row">
 <div class="col-6">
   <div class="card mt-50 mb-50">
     <div class="nav">
       <ul class="mx-auto">
         <li class="active">Payment</li>
       </ul>
     </div>
     <form ngNativeValidate>
       <span id="card-header">Add new card:</span>
       <div class="row-1">
         <div class="row row-2"> <span id="card-inner">Card holder name</span> </div>
         <div class="row row-2"> <input type="text" name="name" [(ngModel)]="name" placeholder="Bojan Viner" required/> </div>
       </div>
       <div class="row three">
         <div class="col-7">
           <div class="row-1">
             <div class="row row-2"> <span id="card-inner">Card number</span> </div>
             <div class="row row-2"> <input type="text" name="cardnumber" [(ngModel)]="cardnumber" placeholder="5134-5264-4" required/> </div>
           </div>
         </div>
         <div class="col-2"> <input type="text" placeholder="Exp. date MM/YY" required/> </div>
         <div class="col-2"> <input type="text" placeholder="CVV" required/> </div>
       </div> <input type="submit" class="btn d-flex mx-auto" (click)="addcard()">
     </form>
   </div>
 </div>
  <div class="col-6">
    <div class="card mt-50 mb-50">
      <div class="nav">
        <ul class="mx-auto">
          <li class="active"><p> Shopping cart </p>
        </ul>
      </div>
        <div  *ngFor="let v of groceries.vegetables">
          <div *ngIf="v.chosencount">
            <p>  {{v.name}}  : {{v.chosencount}}</p>
          </div>
        </div>

        <div  *ngFor="let v of groceries.fruits">
          <div *ngIf="v.chosencount">
            <p>  {{v.name}} : {{v.chosencount}}</p>
          </div>
        </div>

      </div>

  </div>

</div>


