body
{
 background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
justify-content: center;
 align-items: center;


 }
.tomatoes{
align-content: center;
border: 2px solid red;
border-radius: 20px;
padding-left: 20px;
}

.button-pos
{
background: yellow;
 position: relative;
 bottom: -40px;right: -600px;

}
