
.carrotssalign{
align-content: center;
border: 2px solid red;
background: lightblue;
}

.applesalign{
align-content: center;
border: 2px solid green;
background: coral;
}

.bananasalign{
align-content: center;
border: 2px solid violet;
background: lightgreen;
}
